extends layout

block content
  div.jumbotron
    h1 Monotonize your music!
    p.lead Monotonizer pitch shifts every note up or down to the tonic of the entire song.  The result is occasionally absurd, and often hilarious.
    p Upload a song and we'll post the result to your SoundCloud account for posterity.

  div.row-fluid.marketing
    div.offset3.span6.connect-view
      p.center Connect to SoundCloud to get started
      p.center
        a(href='/login', title='Connect to SoundCloud')
          img(src='http://connect.soundcloud.com/2/btn-connect-l.png', alt='Connect to soundcloud', class='soundcloud-connect')
