extends layout

block content
  div.jumbotron
    h1 Welcome, #{username}!
    p Upload a song and we'll post the result to your SoundCloud account for posterity.

  div.row-fluid.marketing
    div.offset3.span6
      form(action='/track', method='post', enctype='multipart/form-data')
        input(type='file', name='sourceTrack')
        input(type='text', name='title')
        input(type='text', name='description')
