extends layout

block content
  div.container-narrow
    div.masthead
      ul.nav.nav-pills.pull-right
        li
          a(href='/') Home
        li
          a(href='/history') History
        li
          a(href='/about') About
      h3.muted= title

    hr

    div.row-fluid.marketing
      div.span6
        h4 A Monotonic History
