extends layout

block content
  div.container-narrow
    div.masthead
      ul.nav.nav-pills.pull-right
        li
          a(href='/') Home
        li
          a(href='/history') History
        li
          a(href='/about') About
      h3.muted= title

    hr
    div.jumbotron
      h1 Monotonize your music!
      p.lead Monotonizer pitch shifts every note up or down to the tonic of the entire song.  The result is occasionally absurd, and often hilarious.
      p Upload a song to try it out!
